# Investment Case Group Project

In [1]:
#importing the needed modules
import numpy as np
import pandas as pd

## Checkpoint 1: Data Cleaning 1

In [2]:
#load companies data
companies=pd.read_csv("companies.txt", sep="\t",encoding="ISO-8859-1")

In [3]:
companies.head()

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/Organization/-Fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/Organization/-Qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
2,/Organization/-The-One-Of-Them-Inc-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN
3,/Organization/0-6-Com,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007
4,/Organization/004-Technologies,004 Technologies,http://004gmbh.de/en/004-interact,Software,operating,USA,IL,"Springfield, Illinois",Champaign,01-01-2010

In [4]:
companies.shape

(66368, 10)

In [5]:
#loading rounds2 data
rounds2=pd.read_csv("rounds2.csv",encoding="ISO-8859-1")

In [6]:
rounds2.head()

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0
1,/ORGANIZATION/-QOUNTER,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN
2,/organization/-qounter,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0
3,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0
4,/organization/0-6-com,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0

In [7]:
rounds2.shape

(114949, 6)

When we load the dataset, we notice that in the ‘permalink’ column of the ‘Companies’ dataframe and in the ‘company_permalink’ column of the ‘rounds2’ dataframe, there are some encoding issues.
Next step is to handle this encoding issue as simply deleting this cell might cause us to lose important data which in turn will affect the whole analysis.

In [8]:
companies['permalink']=companies.permalink.str.encode('utf-8').str.decode('ascii','ignore')

In [9]:
rounds2['company_permalink']=rounds2.company_permalink.str.encode('utf-8').str.decode('ascii', 'ignore')

In [10]:
#converting 'company_permalink' of rounds2 to lowercase
rounds2['company_permalink']=rounds2.company_permalink.str.lower()

In [11]:
rounds2.head()

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0
1,/organization/-qounter,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN
2,/organization/-qounter,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0
3,/organization/-the-one-of-them-inc-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0
4,/organization/0-6-com,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0

In [12]:
#converting 'permalink' of companies to lowercase
companies['permalink']=companies.permalink.str.lower()

In [13]:
companies.head()

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/organization/-fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/organization/-qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
2,/organization/-the-one-of-them-inc-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN
3,/organization/0-6-com,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007
4,/organization/004-technologies,004 Technologies,http://004gmbh.de/en/004-interact,Software,operating,USA,IL,"Springfield, Illinois",Champaign,01-01-2010

### How many unique companies are present in rounds2?

In [14]:
len(rounds2['company_permalink'].unique().tolist())

66368

### How many unique companies are present in companies?

In [15]:
len(companies['permalink'].unique().tolist())

66368

### Are there any companies in the rounds2 file which are not present in companies? Answer yes or no: Y/N

In [16]:
print(len(rounds2.loc[~rounds2['company_permalink'].isin(companies['permalink']), :]))

0

### Merge the two data frames so that all variables (columns) in the companies frame are added to the rounds2 data frame. Name the merged frame master_frame. How many observations are present in master_frame?

In [19]:
#change column name of companies df 'permalink' to company_permalink

companies.rename(columns={'permalink': 'company_permalink'}, inplace=True)

In [20]:
companies.head()

,company_permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/organization/-fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/organization/-qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
2,/organization/-the-one-of-them-inc-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN
3,/organization/0-6-com,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007
4,/organization/004-technologies,004 Technologies,http://004gmbh.de/en/004-interact,Software,operating,USA,IL,"Springfield, Illinois",Champaign,01-01-2010

In [21]:
#inner join(merge) the two df on company_permalink
master_frame=pd.merge(rounds2,companies, how='inner',on='company_permalink')

In [22]:
master_frame.head()

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/organization/-qounter,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
2,/organization/-qounter,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
3,/organization/-the-one-of-them-inc-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN
4,/organization/0-6-com,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007

In [23]:
master_frame.shape

(114949, 15)

In [24]:
master_frame.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 114949 entries, 0 to 114948
Data columns (total 15 columns):
company_permalink          114949 non-null object
funding_round_permalink    114949 non-null object
funding_round_type         114949 non-null object
funding_round_code         31140 non-null object
funded_at                  114949 non-null object
raised_amount_usd          94959 non-null float64
name                       114948 non-null object
homepage_url               108815 non-null object
category_list              111539 non-null object
status                     114949 non-null object
country_code               106271 non-null object
state_code                 104003 non-null object
region                     104782 non-null object
city                       104785 non-null object
founded_at                 94428 non-null object
dtypes: float64(1), object(14)
memory usage: 14.0+ MB

## Data Cleaning

In [25]:
master_frame.isnull().sum()

company_permalink              0
funding_round_permalink        0
funding_round_type             0
funding_round_code         83809
funded_at                      0
raised_amount_usd          19990
name                           1
homepage_url                6134
category_list               3410
status                         0
country_code                8678
state_code                 10946
region                     10167
city                       10164
founded_at                 20521
dtype: int64

In [26]:
# Check null percentages
round(100*(master_frame.isnull().sum()/len(master_frame.index)),2)

company_permalink           0.00
funding_round_permalink     0.00
funding_round_type          0.00
funding_round_code         72.91
funded_at                   0.00
raised_amount_usd          17.39
name                        0.00
homepage_url                5.34
category_list               2.97
status                      0.00
country_code                7.55
state_code                  9.52
region                      8.84
city                        8.84
founded_at                 17.85
dtype: float64

In [27]:
#drop columns that are unnecessary for analysis

master_frame=master_frame.drop(['funding_round_code','homepage_url','founded_at','funded_at'],axis=1)

In [28]:
# drop rows from raised_amount_usd having null values

master_frame=master_frame[~np.isnan(master_frame['raised_amount_usd'])]

In [29]:
master_frame.category_list.value_counts()

Biotechnology                                                                                                                        7773
Software                                                                                                                             5839
Health Care                                                                                                                          2071
Clean Technology                                                                                                                     1916
Mobile                                                                                                                               1844
E-Commerce                                                                                                                           1714
Hardware + Software                                                                                                                  1619
Enterprise Software                                                                                                                  1572
Curated Web                                                                                                                          1273
Health and Wellness                                                                                                                  1163
Semiconductors                                                                                                                       1076
Games                                                                                                                                1066
Advertising                                                                                                                          1037
Manufacturing                                                                                                                         934
Security                                                                                                                              735
Education                                                                                                                             699
Web Hosting                                                                                                                           652
Biotechnology|Health Diagnostics                                                                                                      597
Analytics                                                                                                                             587
Finance                                                                                                                               533
Social Media                                                                                                                          517
Biotechnology|Health Care                                                                                                             441
Consulting                                                                                                                            353
Real Estate                                                                                                                           345
Hospitality                                                                                                                           341
Fashion                                                                                                                               295
Travel                                                                                                                                283
Technology                                                                                                                            261
Messaging                                                                                                                             239
Finance|FinTech                                                                                                                       239
                                                                                                                                     ...
Android|Apps|Fashion|Gamification|iOS|iPhone|Mobile|Mobile Games                                                                        1
Health Care Information Technology|Medical|Services                                                                                     1
Financial Services|Retail|Software                                                                                                      1
Brand Marketing|Sales and Marketing|Software                                                                                            1
Artificial Intelligence|Internet|Video Streaming                                                                                        1
Communications Infrastructure|Events|News                                                                                               1
Fitness|Health and Wellness|Hospitality|Nutrition                                                                                       1
Robotics|Software|Technology                                                                                                            1
Media|News|Search|Software                                                                                                              1
Energy|Innovation Engineering|Services                                                                                                  1
Internet|Logistics|Software|Supply Chain Management                                                                                     1
Health and Wellness|Health Diagnostics|Information Technology|Medical                                                                   1
Biometrics|Internet of Things|Neuroscience|Quantified Self|Software                                                                     1
Games|Social Games|Technology                                                                                                           1
Medical|Medical Devices|Physicians                                                                                                      1
Collaboration|Mobile|SaaS                                                                                                               1
Hospitality|Hotels|Services                                                                                                             1
Health Care|Health Care Information Technology|Technology                                                                               1
Entertainment|Music|Technology                                                                                                          1
Electronics|Manufacturing|Wireless                                                                                                      1
Consumer Electronics|Hardware|Hardware + Software|Software                                                                              1
Apps|Entertainment|Social Media                                                                                                         1
Consulting|Hedge Funds                                                                                                                  1
Batteries|Clean Energy|Clean Technology|High Tech|Mobile|Renewable Energies|Solar                                                       1
Manufacturing|Semiconductor Manufacturing Equipment|Semiconductors                                                                      1
Babies|Consumers|Environmental Innovation|Green|Retail|Services                                                                         1
Advertising Networks|B2B|Business Services|Curated Web|Lead Generation|Reputation|Reviews and Recommendations|Sales and Marketing       1
Advertising|SaaS|Web CMS                                                                                                                1
Finance|SEO|Stock Exchanges                                                                                                             1
Enterprise Software|Marketing Automation|Sales and Marketing|Software                                                                   1
Name: category_list, Length: 23485, dtype: int64

In [30]:
master_frame['country_code'].value_counts()

USA    62049
GBR     5019
CAN     2616
CHN     1927
IND     1649
FRA     1451
ISR     1364
ESP     1074
DEU     1042
AUS      649
RUS      588
IRL      563
SWE      560
SGP      546
NLD      532
JPN      485
BRA      483
ITA      483
CHE      437
CHL      432
KOR      432
FIN      382
DNK      314
ARG      297
BEL      293
HKG      250
TUR      196
NOR      191
BGR      190
MEX      189
       ...
ZMB        2
KHM        2
NIC        2
KWT        2
MAR        2
MCO        2
KAZ        2
ALB        2
ZWE        2
BLM        1
HND        1
DZA        1
DMA        1
UZB        1
SYC        1
BRB        1
IRN        1
TGO        1
GRD        1
LAO        1
PRY        1
PSE        1
OMN        1
MKD        1
SEN        1
SOM        1
KNA        1
QAT        1
MNE        1
GGY        1
Name: country_code, Length: 134, dtype: int64

In [31]:
# We see that for category_list we don't see a significant variance inorder to impute the data.
#Therefore dropping the rows with Nan
master_frame=master_frame.dropna(subset=['category_list'])

In [32]:
# For country_code we can see that we can replace the missing values with 'USA'
master_frame.loc[master_frame['country_code'].isnull(),['country_code']]='USA'

In [33]:
round(100*(master_frame.isnull().sum()/len(master_frame.index)),2)

company_permalink          0.00
funding_round_permalink    0.00
funding_round_type         0.00
raised_amount_usd          0.00
name                       0.00
category_list              0.00
status                     0.00
country_code               0.00
state_code                 7.58
region                     7.00
city                       6.99
dtype: float64

state_code, region,city does not add any value to the data analysis, so do not need to remove/impute any null values.
Kept the columns if it needs to be referenced in future.

In [34]:
# check the percentage of retained rows
100*(len(master_frame.index)/114949)

81.70145020835326

In [35]:
master_frame.head()

,company_permalink,funding_round_permalink,funding_round_type,raised_amount_usd,name,category_list,status,country_code,state_code,region,city
0,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,10000000.0,#fame,Media,operating,IND,16,Mumbai,Mumbai
2,/organization/-qounter,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,700000.0,:Qounter,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City
3,/organization/-the-one-of-them-inc-,/funding-round/650b8f704416801069bb178a1418776b,venture,3406878.0,"(THE) ONE of THEM,Inc.",Apps|Games|Mobile,operating,USA,NaN,NaN,NaN
4,/organization/0-6-com,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,2000000.0,0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing
6,/organization/01games-technology,/funding-round/7d53696f2b4f607a2f2a8cbb83d01839,undisclosed,41250.0,01Games Technology,Games,operating,HKG,NaN,Hong Kong,Hong Kong

## Checkpoint 2: Funding Type Analysis

In [36]:
# converting raised_amount_usd (usd to million usd)
master_frame['raised_amount_usd']=master_frame['raised_amount_usd']/1000000

### Calculate the average investment amount for each of the four funding types (venture, angel, seed, and private equity)

In [37]:
funding_types=master_frame.groupby('funding_round_type')

In [38]:
avg_fundings=pd.DataFrame(funding_types.raised_amount_usd.mean().sort_values(ascending=False))

In [124]:
avg_fundings

                       raised_amount_usd
funding_round_type
post_ipo_debt                 168.704572
post_ipo_equity                82.434122
secondary_market               82.395824
private_equity                 73.385016
undisclosed                    19.415318
debt_financing                 17.028929
venture                        11.717075
grant                           4.318193
convertible_note                1.466013
product_crowdfunding            1.251196
angel                           0.957446
seed                            0.719160
equity_crowdfunding             0.518661
non_equity_assistance           0.416599

## Checkpoint 3: Country Analysis

1.Spark Funds wants to see the top nine countries which have received the highest total funding (across ALL sectors for the chosen investment type)

2.For the chosen investment type, make a data frame named top9 with the top nine countries (based on the total investment amount each country has received)

The chosen investment type is **venture**

In [40]:
top_countries=(master_frame.loc[(master_frame['funding_round_type']=='venture'),:]).groupby('country_code')

In [41]:
top9=pd.DataFrame(top_countries.raised_amount_usd.sum().sort_values(ascending=False)).head(9)

In [42]:
top9

              raised_amount_usd
country_code
USA               442187.917303
CHN                39338.918773
GBR                20072.813004
IND                14261.508718
CAN                 9482.217668
FRA                 7226.851352
ISR                 6854.350477
DEU                 6306.921981
JPN                 3167.647127

## Checkpoint 4: Sector Analysis 1

1. Extract the primary sector of each category list from the category_list column

2. Use the mapping file 'mapping.csv' to map each primary sector to one of the eight main sectors (Note that ‘Others’ is also considered one of the main sectors)

In [43]:
# Extract the primary sector from the category_list

master_frame['primary_sector']=master_frame['category_list'].apply(lambda created_list:created_list.split('|')[0])

In [44]:
master_frame.head()

,company_permalink,funding_round_permalink,funding_round_type,raised_amount_usd,name,category_list,status,country_code,state_code,region,city,primary_sector
0,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,10.000000,#fame,Media,operating,IND,16,Mumbai,Mumbai,Media
2,/organization/-qounter,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,0.700000,:Qounter,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,Application Platforms
3,/organization/-the-one-of-them-inc-,/funding-round/650b8f704416801069bb178a1418776b,venture,3.406878,"(THE) ONE of THEM,Inc.",Apps|Games|Mobile,operating,USA,NaN,NaN,NaN,Apps
4,/organization/0-6-com,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,2.000000,0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,Curated Web
6,/organization/01games-technology,/funding-round/7d53696f2b4f607a2f2a8cbb83d01839,undisclosed,0.041250,01Games Technology,Games,operating,HKG,NaN,Hong Kong,Hong Kong,Games

In [45]:
# import mapping.csv

mapping=pd.read_csv("mapping.csv")

In [46]:
mapping.head()

,category_list,Automotive & Sports,Blanks,Cleantech / Semiconductors,Entertainment,Health,Manufacturing,"News, Search and Messaging",Others,"Social, Finance, Analytics, Advertising"
0,NaN,0,1,0,0,0,0,0,0,0
1,3D,0,0,0,0,0,1,0,0,0
2,3D Printing,0,0,0,0,0,1,0,0,0
3,3D Technology,0,0,0,0,0,1,0,0,0
4,Accounting,0,0,0,0,0,0,0,0,1

In [47]:
#dropping the first blank 
mapping=mapping.drop(0,axis=0)

In [48]:
mapping.head()

,category_list,Automotive & Sports,Blanks,Cleantech / Semiconductors,Entertainment,Health,Manufacturing,"News, Search and Messaging",Others,"Social, Finance, Analytics, Advertising"
1,3D,0,0,0,0,0,1,0,0,0
2,3D Printing,0,0,0,0,0,1,0,0,0
3,3D Technology,0,0,0,0,0,1,0,0,0
4,Accounting,0,0,0,0,0,0,0,0,1
5,Active Lifestyle,0,0,0,0,1,0,0,0,0

In [49]:
# remove the column blanks as it does not affect analysis
mapping=mapping.drop('Blanks',axis=1)

In [50]:
mapping.head()

,category_list,Automotive & Sports,Cleantech / Semiconductors,Entertainment,Health,Manufacturing,"News, Search and Messaging",Others,"Social, Finance, Analytics, Advertising"
1,3D,0,0,0,0,1,0,0,0
2,3D Printing,0,0,0,0,1,0,0,0
3,3D Technology,0,0,0,0,1,0,0,0
4,Accounting,0,0,0,0,0,0,0,1
5,Active Lifestyle,0,0,0,1,0,0,0,0

In [51]:
# data quality issue 
# need to replace the '0' with 'na'

mapping['category_list']=mapping['category_list'].apply(lambda x:x.replace('0','na'))

In [52]:
# reshape the dataframe with melt
melted=pd.melt(mapping,id_vars='category_list',var_name="main_sector",value_name="val")

In [53]:
melted.head()

      category_list          main_sector  val
0                3D  Automotive & Sports    0
1       3D Printing  Automotive & Sports    0
2     3D Technology  Automotive & Sports    0
3        Accounting  Automotive & Sports    0
4  Active Lifestyle  Automotive & Sports    0

In [54]:
melted=melted.loc[(melted['val']==1),:]

In [55]:
#drop the 'val' column as its not needed anymore and create the final category_mapping dataframe for further use.
category_mapping=melted.drop('val',axis=1)

In [56]:
category_mapping.shape

(687, 2)

In [57]:
category_mapping.head()

       category_list          main_sector
7   Adventure Travel  Automotive & Sports
13         Aerospace  Automotive & Sports
44              Auto  Automotive & Sports
45   Automated Kiosk  Automotive & Sports
46        Automotive  Automotive & Sports

In [58]:
# rename category_list to 'primary_sector' for merging. 
category_mapping.rename(columns={'category_list': 'primary_sector'}, inplace=True)

In [59]:
category_mapping.head()

      primary_sector          main_sector
7   Adventure Travel  Automotive & Sports
13         Aerospace  Automotive & Sports
44              Auto  Automotive & Sports
45   Automated Kiosk  Automotive & Sports
46        Automotive  Automotive & Sports

In [60]:
#merge the main sector to the master_frame

master_frame=pd.merge(master_frame,category_mapping,how='inner',on='primary_sector')

In [61]:
master_frame.head()

,company_permalink,funding_round_permalink,funding_round_type,raised_amount_usd,name,category_list,status,country_code,state_code,region,city,primary_sector,main_sector
0,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,10.00,#fame,Media,operating,IND,16,Mumbai,Mumbai,Media,Entertainment
1,/organization/90min,/funding-round/21a2cbf6f2fb2a1c2a61e04bf930dfe6,venture,15.00,90min,Media|News|Publishing|Soccer|Sports,operating,GBR,H9,London,London,Media,Entertainment
2,/organization/90min,/funding-round/bd626ed022f5c66574b1afe234f3c90d,venture,5.80,90min,Media|News|Publishing|Soccer|Sports,operating,GBR,H9,London,London,Media,Entertainment
3,/organization/90min,/funding-round/fd4b15e8c97ee2ffc0acccdbe1a98810,venture,18.00,90min,Media|News|Publishing|Soccer|Sports,operating,GBR,H9,London,London,Media,Entertainment
4,/organization/a-dance-for-me,/funding-round/9ab9dbd17bf010c79d8415b2c22be6fa,equity_crowdfunding,1.09,A Dance for Me,Media|News|Photo Sharing|Video,operating,USA,MT,Missoula,Missoula,Media,Entertainment

## Checkpoint 5: Sector Analysis 2

1. Now, the aim is to find out the most heavily invested main sectors in each of the three countries (for funding type FT and investments range of 5-15 M USD).

. Create three separate data frames D1, D2 and D3 for each of the three countries containing the observations of funding type FT falling within the 5-15 million USD range. The three data frames should contain:

. All the columns of the master_frame along with the primary sector and the main sector

. The total number (or count) of investments for each main sector in a separate column

. The total amount invested in each main sector in a separate column1

In [62]:
# create 3 dataframes for the top 3 english speaking countries, 
# for funding type venture and investments in range 5-15 M USD

# Dataframe D1 for United States

D1= master_frame.loc[(master_frame.country_code =='USA') & 
                     (master_frame.funding_round_type == 'venture') & 
                     (master_frame.raised_amount_usd.between(5,15)),: ]

In [63]:
D1.head()

,company_permalink,funding_round_permalink,funding_round_type,raised_amount_usd,name,category_list,status,country_code,state_code,region,city,primary_sector,main_sector
7,/organization/all-def-digital,/funding-round/452a2342fe720285c3b92e9bd927d9ba,venture,5.0,All Def Digital,Media,operating,USA,CA,Los Angeles,Los Angeles,Media,Entertainment
31,/organization/chefs-feed,/funding-round/adca195749ae9ace84684723fbe75e5b,venture,5.0,ChefsFeed,Media|Mobile|Restaurants|Technology,operating,USA,CA,SF Bay Area,San Francisco,Media,Entertainment
66,/organization/huffingtonpost,/funding-round/7f05940c4d2dfecb8e50a0e5720e5065,venture,5.0,The Huffington Post,Media|News|Publishing,acquired,USA,NY,New York City,New York,Media,Entertainment
67,/organization/huffingtonpost,/funding-round/9241ae16e08df17ebdc064e49e23035a,venture,5.0,The Huffington Post,Media|News|Publishing,acquired,USA,NY,New York City,New York,Media,Entertainment
91,/organization/matchmine,/funding-round/41ac526630da57ad6eb9d02431b17657,venture,10.0,MatchMine,Media|News|Reviews and Recommendations,closed,USA,MA,Boston,Needham,Media,Entertainment

In [64]:
# Added the total_amount_invested_per_sector column to calculate the total amount of investments in each main sector.
D1['total_amount_invested_per_sector'] = D1.groupby('main_sector')['raised_amount_usd'].transform(
    lambda x : x.sum()
)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [65]:
# Added the count_of _investment_per_sector column to calculate the total count of investments in each main sector.
D1['count_of_investment_per_sector'] = D1.groupby('main_sector')['raised_amount_usd'].transform(
    lambda x : x.count()
)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [66]:
D1.head()

,company_permalink,funding_round_permalink,funding_round_type,raised_amount_usd,name,category_list,status,country_code,state_code,region,city,primary_sector,main_sector,total_amount_invested_per_sector,count_of_investment_per_sector
7,/organization/all-def-digital,/funding-round/452a2342fe720285c3b92e9bd927d9ba,venture,5.0,All Def Digital,Media,operating,USA,CA,Los Angeles,Los Angeles,Media,Entertainment,5554.359271,642.0
31,/organization/chefs-feed,/funding-round/adca195749ae9ace84684723fbe75e5b,venture,5.0,ChefsFeed,Media|Mobile|Restaurants|Technology,operating,USA,CA,SF Bay Area,San Francisco,Media,Entertainment,5554.359271,642.0
66,/organization/huffingtonpost,/funding-round/7f05940c4d2dfecb8e50a0e5720e5065,venture,5.0,The Huffington Post,Media|News|Publishing,acquired,USA,NY,New York City,New York,Media,Entertainment,5554.359271,642.0
67,/organization/huffingtonpost,/funding-round/9241ae16e08df17ebdc064e49e23035a,venture,5.0,The Huffington Post,Media|News|Publishing,acquired,USA,NY,New York City,New York,Media,Entertainment,5554.359271,642.0
91,/organization/matchmine,/funding-round/41ac526630da57ad6eb9d02431b17657,venture,10.0,MatchMine,Media|News|Reviews and Recommendations,closed,USA,MA,Boston,Needham,Media,Entertainment,5554.359271,642.0

#### perform the same for other 2 countries

In [67]:
D2=master_frame.loc[(master_frame.country_code =='GBR') & 
                     (master_frame.funding_round_type == 'venture') & 
                     (master_frame.raised_amount_usd.between(5,15)),: ]

In [68]:
D2.head()

,company_permalink,funding_round_permalink,funding_round_type,raised_amount_usd,name,category_list,status,country_code,state_code,region,city,primary_sector,main_sector
1,/organization/90min,/funding-round/21a2cbf6f2fb2a1c2a61e04bf930dfe6,venture,15.00,90min,Media|News|Publishing|Soccer|Sports,operating,GBR,H9,London,London,Media,Entertainment
2,/organization/90min,/funding-round/bd626ed022f5c66574b1afe234f3c90d,venture,5.80,90min,Media|News|Publishing|Soccer|Sports,operating,GBR,H9,London,London,Media,Entertainment
252,/organization/common-interest-communities,/funding-round/8195587cbd5e51af7514ee92ef4ba6ba,venture,10.00,Common Interest Communities,Application Platforms|Internet|Software|Startups,operating,GBR,H9,London,London,Application Platforms,"News, Search and Messaging"
291,/organization/geospock-ltd-,/funding-round/cf3fe3b7c86186b9f478d0ea37613f7a,venture,5.46,GeoSpock Ltd.,Application Platforms|Databases|Real Time,operating,GBR,C3,London,Cambridge,Application Platforms,"News, Search and Messaging"
292,/organization/geospock-ltd-,/funding-round/e5e4ef4ebae63fc36ef0cd57dd20ff1c,venture,5.40,GeoSpock Ltd.,Application Platforms|Databases|Real Time,operating,GBR,C3,London,Cambridge,Application Platforms,"News, Search and Messaging"

In [69]:
D2['total_amount_invested_per_sector'] = D2.groupby('main_sector')['raised_amount_usd'].transform(
    lambda x : x.sum()
)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [70]:
D2['count_of_investment_per_sector'] = D2.groupby('main_sector')['raised_amount_usd'].transform(
    lambda x : x.count()
)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [71]:
D2.head()

,company_permalink,funding_round_permalink,funding_round_type,raised_amount_usd,name,category_list,status,country_code,state_code,region,city,primary_sector,main_sector,total_amount_invested_per_sector,count_of_investment_per_sector
1,/organization/90min,/funding-round/21a2cbf6f2fb2a1c2a61e04bf930dfe6,venture,15.00,90min,Media|News|Publishing|Soccer|Sports,operating,GBR,H9,London,London,Media,Entertainment,482.784687,56.0
2,/organization/90min,/funding-round/bd626ed022f5c66574b1afe234f3c90d,venture,5.80,90min,Media|News|Publishing|Soccer|Sports,operating,GBR,H9,London,London,Media,Entertainment,482.784687,56.0
252,/organization/common-interest-communities,/funding-round/8195587cbd5e51af7514ee92ef4ba6ba,venture,10.00,Common Interest Communities,Application Platforms|Internet|Software|Startups,operating,GBR,H9,London,London,Application Platforms,"News, Search and Messaging",615.746235,73.0
291,/organization/geospock-ltd-,/funding-round/cf3fe3b7c86186b9f478d0ea37613f7a,venture,5.46,GeoSpock Ltd.,Application Platforms|Databases|Real Time,operating,GBR,C3,London,Cambridge,Application Platforms,"News, Search and Messaging",615.746235,73.0
292,/organization/geospock-ltd-,/funding-round/e5e4ef4ebae63fc36ef0cd57dd20ff1c,venture,5.40,GeoSpock Ltd.,Application Platforms|Databases|Real Time,operating,GBR,C3,London,Cambridge,Application Platforms,"News, Search and Messaging",615.746235,73.0

In [72]:
D3= master_frame.loc[(master_frame.country_code =='IND') & 
                     (master_frame.funding_round_type == 'venture') & 
                     (master_frame.raised_amount_usd.between(5,15)),: ]

In [73]:
D3['total_amount_invested_per_sector'] = D3.groupby('main_sector')['raised_amount_usd'].transform(
    lambda x : x.sum()
)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [74]:
D3['count_of_investment_per_sector'] = D3.groupby('main_sector')['raised_amount_usd'].transform(
    lambda x : x.count()
)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [75]:
D3.head()

,company_permalink,funding_round_permalink,funding_round_type,raised_amount_usd,name,category_list,status,country_code,state_code,region,city,primary_sector,main_sector,total_amount_invested_per_sector,count_of_investment_per_sector
0,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,10.000000,#fame,Media,operating,IND,16,Mumbai,Mumbai,Media,Entertainment,280.830000,33.0
759,/organization/chillr-2,/funding-round/c5477ed0c5d0f47db4d010094abcd317,venture,6.000000,Chillr,Apps|Banking|Mobile Payments,operating,IND,13,Cochin,Cochin,Apps,"News, Search and Messaging",433.834545,52.0
1241,/organization/jugnoo,/funding-round/89fc1dc3e31be5732df0fcabca9a0c08,venture,5.000000,JUGNOO,Apps|Social Business|Software,operating,IND,5,Chandigarh,Chandigarh,Apps,"News, Search and Messaging",433.834545,52.0
1638,/organization/peppertap,/funding-round/2c5621fec872c82f48ebbab0b7cfa6a0,venture,10.000000,PepperTap,Apps|Groceries|Online Shopping,operating,IND,10,New Delhi,Gurgaon,Apps,"News, Search and Messaging",433.834545,52.0
2148,/organization/tinyowl-technology,/funding-round/6139214390beddb0910642f6c5bf27b6,venture,7.665775,TinyOwl Technology,Apps|Mobile|Specialty Foods,operating,IND,16,Mumbai,Mumbai,Apps,"News, Search and Messaging",433.834545,52.0

### 1. Total number of investments (count)

In [77]:
len(D1.index)

12639

In [78]:
len(D2.index)

619

In [79]:
len(D3.index)

328

### 2. Total amount of investment (USD)

In [80]:
D1.raised_amount_usd.sum()

112855.45460899998

In [81]:
D2.raised_amount_usd.sum()

5365.2283

In [82]:
D3.raised_amount_usd.sum()

2949.543602

### 3. Top sector (based on count of investments)
### 4. Second-best sector (based on count of investments)
### 5. Third-best sector (based on count of investments)
### 6. Number of investments in the top sector (refer to point 3)
### 7. Number of investments in the second-best sector (refer to point 4)
### 8. Number of investments in the third-best sector (refer to point 5)

In [83]:
D1.groupby('main_sector').raised_amount_usd.count().sort_values(ascending=False)

main_sector
Others                                     3090
Social, Finance, Analytics, Advertising    2834
Cleantech / Semiconductors                 2390
News, Search and Messaging                 1683
Health                                      960
Manufacturing                               857
Entertainment                               642
Automotive & Sports                         183
Name: raised_amount_usd, dtype: int64

In [84]:
D2.groupby('main_sector').raised_amount_usd.count().sort_values(ascending=False)

main_sector
Others                                     147
Social, Finance, Analytics, Advertising    133
Cleantech / Semiconductors                 128
News, Search and Messaging                  73
Entertainment                               56
Manufacturing                               42
Health                                      24
Automotive & Sports                         16
Name: raised_amount_usd, dtype: int64

In [85]:
D3.groupby('main_sector').raised_amount_usd.count().sort_values(ascending=False)

main_sector
Others                                     110
Social, Finance, Analytics, Advertising     60
News, Search and Messaging                  52
Entertainment                               33
Manufacturing                               21
Cleantech / Semiconductors                  20
Health                                      19
Automotive & Sports                         13
Name: raised_amount_usd, dtype: int64

### 9. For the top sector count-wise (point 3), which company received the highest investment?

Please note: As per discussion forum https://learn.upgrad.com/v/course/208/question/94510, suggested by TA to use count(), therefore the results are based on count() of investments and not sum() of investments.

In [113]:
D1.loc[(D1.main_sector=='Others'),:].groupby('name').raised_amount_usd.count().sort_values(ascending=False).head(3)

name
Capella Photonics      6
Virtustream            6
Black Duck Software    6
Name: raised_amount_usd, dtype: int64

In [115]:
D2.loc[(D2.main_sector=='Others'),:].groupby('name').raised_amount_usd.count().sort_values(ascending=False).head(3)

name
Electric Cloud    4
SenSage           4
OpenCloud         3
Name: raised_amount_usd, dtype: int64

In [116]:
D3.loc[(D3.main_sector=='Others'),:].groupby('name').raised_amount_usd.count().sort_values(ascending=False).head(3)

name
Myntra           4
Pepperfry.com    3
FirstCry.com     3
Name: raised_amount_usd, dtype: int64

### 10. For the second-best sector count-wise (point 4), which company received the highest investment?

Please note: As per discussion forum https://learn.upgrad.com/v/course/208/question/94510, suggested by TA to use count(), therefore the results are based on count() of investments and not sum() of investments.

In [119]:
D1.loc[(D1.main_sector=='Social, Finance, Analytics, Advertising'),:].groupby('name').raised_amount_usd.count().sort_values(ascending=False).head(3)

name
NetBase Solutions                  7
SST Inc. (Formerly ShotSpotter)    7
YuMe                               6
Name: raised_amount_usd, dtype: int64

In [120]:
D2.loc[(D2.main_sector=='Social, Finance, Analytics, Advertising'),:].groupby('name').raised_amount_usd.count().sort_values(ascending=False).head(3)

name
myThings                 4
Celltick Technologies    4
Amplience                3
Name: raised_amount_usd, dtype: int64

In [121]:
D3.loc[(D3.main_sector=='Social, Finance, Analytics, Advertising'),:].groupby('name').raised_amount_usd.count().sort_values(ascending=False).head(3)

name
Manthan Systems               4
Komli Media                   3
Grameen Financial Services    2
Name: raised_amount_usd, dtype: int64

## Checkpoint 6: Plots

In [92]:
# export master_frame to csv file
master_frame.to_csv('master_frame.csv')

In [93]:
D1.to_csv('sector_analysis_USA.csv')

In [94]:
D2.to_csv('sector_analysis_GBR.csv')

In [95]:
D3.to_csv('sector_analysis_IND.csv')